services:
  db:
    image: postgres:16
    platform: linux/arm64
    container_name: db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - my_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.123.0-arm64
    command:
      - "--config"
      - /etc/otel/config.yml
    ports:
      - 4317:4317
      - 4318:4318
    volumes:
      - ./config.yml:/etc/otel/config.yml
    depends_on:
       - jaeger
  jaeger:
    image: jaegertracing/all-in-one:1.69.0
    ports:
      - "16686:16686"
    expose:
      - 4317
      - 4318
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
      - COLLECTOR_OTLP_ENABLED=true

volumes:
  pgdata:
networks:
  my_network: