services:
  db:
    image: postgres:16
    platform: linux/arm64
    container_name: db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - my_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.123.0-arm64
    platform: linux/arm64
    container_name: otel-collector
    command:
      - "--config"
      - /etc/otel/config.yml
    volumes:
      - ./logs:/logs
      - ./config.yml:/etc/otel/config.yml
    ports:
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver
    env_file:
      - .env
    depends_on:
      - tempo
    networks:
      - my_network

volumes:
  pgdata:
networks:
  my_network: