receivers:
  otlp:
    protocols:
      grpc:
       endpoint: "0.0.0.0:4317"
      http:
       endpoint: "0.0.0.0:4318"
  filelog:
    include_file_path: true
    include: [/logs/app.log]
    start_at: beginning
    operators:
      - type: json_parser
        id: parse_json
      - type: time_parser
        id: parse_time
        parse_from: attributes.time
        layout_type: gotime
        layout: "2006-01-02T15:04:05.999999999Z07:00"

processors:
  batch:

  attributes:
    actions:
      - action: insert
        key: loki.attribute.labels
        value: "level,service_name,trace_id"

  resource:
    attributes:
      - action: insert
        key: loki.resource.labels
        value: "level,service_name,trace_id"

exporters:
  otlp:
    endpoint: tempo:9096
    tls:
      insecure: true
  loki:
    endpoint: "http://loki:3100/loki/api/v1/push"
    tls:
      insecure: true
    default_labels_enabled:
      exporter: true
      job: true
      instance: true
      level: true
  debug:
    verbosity: detailed

extensions:
  health_check:
  pprof:
  zpages:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
    logs:
      receivers: [filelog]
      processors: [batch,resource, attributes]
      exporters: [loki,debug]